In [1]:
import csv
import os
import pandas as pd

In [2]:
file_path = os.path.join('election_data_2.csv')

In [3]:
with open(file_path, newline='') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')

In [4]:
file_path_pd = pd.read_csv(file_path)

In [5]:
file_path_pd.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [13]:
candidates = file_path_pd['Candidate'].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [14]:
votes = file_path_pd['Candidate'].value_counts()
votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [16]:
pctg = votes/file_path_pd['Candidate'].count()
pctg

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [34]:
pctg.sort_values()

O'Tooley    0.03
Li          0.14
Correy      0.20
Khan        0.63
Name: Candidate, dtype: float64

In [39]:
pctg['Candidate']

0.63000010508375315