In [5]:
import csv
import os
import pandas as pd

In [6]:
csvpath = os.path.join('budget_data_1.csv')

In [7]:
with open(csvpath, newline='') as csvfile:
    csvreader = csv.reader(csvfile, delimiter = ',')

In [10]:
csvfile_pd = pd.read_csv(csvpath)
csvfile_pd.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

            Revenue
count  4.100000e+01
mean   4.627174e+05
std    5.660821e+05
min   -1.172384e+06
25%    1.738260e+05
50%    5.636790e+05
75%    8.839340e+05
max    1.195111e+06