In [3]:
import csv
import os
import pandas as pd

In [4]:
csvpath = os.path.join('budget_data_1.csv')

In [5]:
with open(csvpath, newline='') as csvfile:
    csvreader = csv.reader(csvfile, delimiter = ',')

In [6]:
csvfile_pd = pd.read_csv(csvpath)
csvfile_pd.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [7]:
total_number_months = csvfile_pd['Date'].count()
total_number_months

41

In [8]:
total_revenue = csvfile_pd['Revenue'].sum()
total_revenue

18971412

In [9]:
average_revenue = csvfile_pd['Revenue'].mean()
average_revenue

462717.3658536585

In [10]:
difference = csvfile_pd['Revenue'].diff()
difference.head()

0          NaN
1    -268520.0
2   -1334477.0
3    1012383.0
4      -8285.0
Name: Revenue, dtype: float64

In [11]:
average_change = difference.mean()
average_change

-6758.975

In [12]:
csvfile_pd['Revenue Change'] = difference
csvfile_pd.head()

     Date  Revenue  Revenue Change
0  Oct-12  1154293             NaN
1  Nov-12   885773       -268520.0
2  Dec-12  -448704      -1334477.0
3  Jan-13   563679       1012383.0
4  Feb-13   555394         -8285.0

In [13]:
greatest_increase = csvfile_pd['Revenue Change'].max()
greatest_increase.round(0)

1837235.0

In [14]:
greatest_decrease = csvfile_pd['Revenue Change'].min()
greatest_decrease

-1779747.0

In [29]:
greatest_month_row = csvfile_pd.loc[csvfile_pd['Revenue Change'] == greatest_increase]
greatest_month = greatest_month_row.iloc[0]
greatest_month[0]

'Feb-16'

In [31]:
least_month_row = csvfile_pd.loc[csvfile_pd['Revenue Change'] == greatest_decrease]
least_month = least_month_row.iloc[0]
type(least_month[0])

str